@{
    Layout = "~/Views/Shared/_Index_Create.cshtml";
}
<script src="~/lib/angular.js"></script>
@model  ZrSoft.SP_BankAccount
<script>

         var myApp = angular.module('Create', []);
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form()
        , layer = layui.layer;
        //监听提交
        form.on('submit(Accept)', function (data) {
            var json = data.field;
            json["Id"] = "@Model.Id";
            $.ajax({
                url: "@Url.Action("Edit")",
                type: "Post",
                data: json,
                dataType: "json",
                success: function (data) {
                    window.parent.callBack(data);
                }
            });
            return false;
        });
    });
    myApp.controller('sptypeController', function ($scope, $http) {
        $.ajax({
            url: "/sys/Admin/GetAllList",
            type: "POST",
            async: false,
            success: function (d) {
                $scope.data = d.rows;
            }
        });
    });
</script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>
        <a class="layui-icon close" style="padding: 5px; font-size:larger; cursor:pointer" title="@Resource.lang.Back">&#xe6ff;</a> @Resource.lang.SP_BankAccount
    </legend>
</fieldset>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">
            @Resource.lang.SP_BankAccount_CardNum
        </label>
        <div class="layui-input-block">
            <input id='CardNum' name='CardNum' type="text" lay-verify="" autocomplete="off" placeholder="@Model.CardNum" class="layui-input" value='@Model.CardNum'>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            @Resource.lang.SP_BankAccount_BankName
        </label>
        <div class="layui-input-block">
            <input id='BankName' name='BankName' type="text" lay-verify="" autocomplete="off" placeholder="@Model.BankName" class="layui-input" value='@Model.BankName'>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            @Resource.lang.SP_BankAccount_UserId
        </label>
        <div class="layui-input-block">
            <select id='UserId' name='UserId' ng-controller="sptypeController" lay-verify="required" lay-filter="Type" ng-init="selected = '@Model.UserId'" ng-model="selected">
                <option>@Resource.lang.Select@Resource.lang.SP_BankAccount_UserId</option>
                <option ng-repeat="x in data" value="{{x.Id}}">{{x.RealName}}</option>
            </select>
            @*<input id='UserId' name='UserId' type="text" lay-verify="" autocomplete="off" placeholder="@Model.UserId" class="layui-input" value='@Model.UserId'>*@
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="Accept">@Resource.lang.Accept</button>
            <button type="reset" class="layui-btn layui-btn-primary">@Resource.lang.Reset</button>
        </div>
    </div>
</form>
