@{
    Layout = "~/Views/Shared/_Index_Create.cshtml";
}
@model  ZrSoft.SP_sptype
<script src="~/lib/angular.js"></script>
<script>

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form()
        , layer = layui.layer;
    });
</script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>
        <a class="layui-icon close" style="padding: 5px; font-size:larger; cursor:pointer" title="@Resource.lang.Back">&#xe6ff;</a>  @Resource.lang.SP_sptype
    </legend>
</fieldset>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.SP_sptype_Name</label><div class="layui-input-block">
            <label name="@Model.Name" class="layui-input">@Model.Name</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.SP_sptype_Memo</label><div class="layui-input-block">
            <label name="@Model.Memo" class="layui-input">@Model.Memo</label>
        </div>
    </div>
    @*<div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.SP_sptype_Ext1</label><div class="layui-input-block">
            <label name="@Model.Ext1" class="layui-input">@Model.Ext1</label>
        </div>
    </div>*@
</form>
