@{
    Layout = "~/Views/Shared/_Index_Create.cshtml";
}
@model  ZrSoft.VWeChat_DrunkenRoad
<script src="~/Scripts/InfoPicture.js"></script>
<script src="~/Scripts/jquery.uploadify-v2.1.4/jquery.uploadify.v2.1.4.min.js"></script>
<script src="~/Scripts/jquery.uploadify-v2.1.4/swfobject.js"></script>
<link href="~/Scripts/jquery.uploadify-v2.1.4/uploadify.css" rel="stylesheet" />
<script src="~/Scripts/ueditor1_4_3-utf8-net/ueditor.config.js"></script>
<script src="~/Scripts/ueditor1_4_3-utf8-net/ueditor.all.min.js"></script>
<script>
    $(function () {
        monpic();
    })
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form()
        , layer = layui.layer;
    });
</script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>
        <a class="layui-icon close" style="padding: 5px; font-size:larger; cursor:pointer" title="@Resource.lang.Back">&#xe6ff;</a>  @Resource.lang.WeChat_DrunkenRoad
    </legend>
</fieldset>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_RoadName</label><div class="layui-input-block">
            <label name="@Model.RoadName" class="layui-input">@Model.RoadName</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_RoadNum</label><div class="layui-input-block">
            <label name="@Model.RoadNum" class="layui-input">@Model.RoadNum</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_RoadVotes</label><div class="layui-input-block">
            <label name="@Model.RoadVotes" class="layui-input">@Model.RoadVotes</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_RoadMemo</label><div class="layui-input-block">
            <label name="@Model.RoadMemo" class="layui-input">@Html.Raw(Model.RoadMemo)</label>
        </div>
    </div>
    @*<div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_RoadState</label><div class="layui-input-block">
            <label name="@Model.RoadState" class="layui-input">@Model.RoadState</label>
        </div>
    </div>*@
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_AdminId</label><div class="layui-input-block">
            <label name="@Model.AdminId" class="layui-input">@Model.RealName</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_Pubdate</label><div class="layui-input-block">
            <label name="@Model.Pubdate" class="layui-input">@Model.Pubdate</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_EditAdminId</label><div class="layui-input-block">
            <label name="@Model.EditAdminId" class="layui-input">@Model.EditRealName</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_EditPubDate</label><div class="layui-input-block">
            <label name="@Model.EditPubDate" class="layui-input">@Model.EditPubDate</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <input id="Moneypic" name="Moneypic" style="margin-top: 5px;" type="hidden" />
            <div id="img">
            </div>
            <input id="FileName" name="FileName" type="hidden" value="@ViewBag.FileName" />
            <input id="FileUrl" name="FileUrl" type="hidden" value="@ViewBag.FileUrl" />
        </div>
    </div>
    @*<div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_Ext1</label><div class="layui-input-block">
            <label name="@Model.Ext1" class="layui-input">@Model.Ext1</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_Ext2</label><div class="layui-input-block">
            <label name="@Model.Ext2" class="layui-input">@Model.Ext2</label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">@Resource.lang.WeChat_DrunkenRoad_Ext3</label><div class="layui-input-block">
            <label name="@Model.Ext3" class="layui-input">@Model.Ext3</label>
        </div>
    </div>*@
</form>
